<aside class="menu">
    <ul>
        <li><a href="${ url_for('view_admin_article.add_article') }" {% if active_page == 'publish' %}class="active"{% endif %}><i class="iconfont icon-edit"></i>发布</a></li>
        <li><a><i class="iconfont icon-viewlist"></i>文章</a></li>
        <li class="seprator">设置</li>
        <li><a href="${ url_for('view_admin_tag.tags') }" {% if active_page == 'tag' %}class="active"{% endif %}>
            <i class="iconfont icon-biaoqian"></i>标签</a>
        </li>
        <li>
            <a href="#my" class="collapsed" data-toggle="collapse">
                <i class="iconfont icon-account"></i>我的
                <i class="iconfont icon-more"></i>
            </a>
            <ul id="my" class="sub-menu collapse">
                <li><a><i class="iconfont icon-xuanzekuangmoren"></i>信息</a></li>
                <li><a><i class="iconfont icon-xuanzekuangmoren"></i>密码</a></li>
            </ul>
        </li>
    </ul>
</aside>