<aside class="menu">
    <lb-menu>
        <lb-menu-item to="${ url_for('view_admin_article.add_article') }" :active="${'true' if active_page == 'publish' else 'false'}">
            <template slot="title"><i class="iconfont icon-edit"></i>发布</template>
        </lb-menu-item>
        <lb-menu-item to="${ url_for('view_admin_article.artilce_list') }" :active="${'true' if active_page == 'article' else 'false'}">
            <template slot="title"><i class="iconfont icon-viewlist"></i>文章</template>
        </lb-menu-item>
        <lb-separator>设置</lb-separator>
        <lb-menu-item to="${ url_for('view_admin_tag.tags') }" :active="${'true' if active_page == 'tag' else 'false'}">
            <template slot="title"><i class="iconfont icon-biaoqian"></i>标签</template>
        </lb-menu-item>
        <lb-sub-menu>
            <template slot="title">
                <i class="iconfont icon-account"></i>我的
            </template>
            <lb-menu-item>
                <template slot="title">
                    <i class="iconfont icon-xuanzekuangmoren"></i>信息
                </template>
            </lb-menu-item>
            <lb-menu-item>
                <template slot="title">
                    <i class="iconfont icon-xuanzekuangmoren"></i>密码
                </template>
            </lb-menu-item>
        </lb-sub-menu>
    </lb-menu>
</aside>