<header>
    <nav class="navbar">
        <div class="navbar-header">
            <a href="${ url_for('view_admin_index.main') }" class="navbar-brand">Light Blog</a>
        </div>
        <div class="navbar-collapse">
            <lb-menu class="nav navbar-nav navbar-right" :drop-down-menu="true">
                <lb-sub-menu class="dropdown">
                    <template slot="title">
                        ${session['user']['username']}
                    </template>
                    <lb-menu-item to="${ url_for('view_admin_user.logout') }">
                        <template slot="title">
                            退出
                        </template>
                    </lb-menu-item>
                </lb-sub-menu>
            </lb-menu>
        </div>
    </nav>
</header>