@import '../common';

#login-panel {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 400px;
  height: 250px;
  margin: {
    top: -150px;
    left: -200px;
  }

  background-color:$BLUE;
  border-radius: 10px;

  h1 {
    margin: 20px auto 5px;

    text-align: center;
    font: bold 45px "Lucida Family";
    color: $BLACK
  }

  .line {
    @include line(100px, 2px);

    margin: {
      bottom: 30px;
    }
  }

  .form-group {
    position: relative;

    width: 230px;
    height: 20px;
    margin: 0 auto 10px;

    text-align: center;

    input {
      width: 230px;

      text-indent: 2em;

      background: transparent;
      border: {
        bottom: 1px solid $CROWN;
      }

      outline: none;
    }

    i {
      display:block;
      position: absolute;
      top: 0;
      left: 0;

      width: 20px;
      height: 20px;

      font-size: 14px;
    }

    .err-msg {
      position: absolute;
      top: 0;
      right: 0;

      padding: 0 5px;

      font-weight: normal;
      color: #D9534F;
    }
  }

  .btn-wrapper {
    width:230px;
    margin: 30px auto;

    label {
      padding-right: 5px;

      font: 14px 'YimHei';
    }

    input {
      visibility: hidden;
    }

    .bootstrap-switch-container {

      .bootstrap-switch-primary {
        background: $CROWN;
      }
    }

    button {
      height: 32px;
      width: 100px;

      font: 14px "Lucida Family";
      color: #FFFFFF;

      background: $CROWN;
      border-radius: 3px;
    }
  }

  .triangle {
    position: absolute;
    top: 250px;
    left: 70px;

    @include triangle('down', 30px, $BLUE)
  }
}
