@import "../common";

.content {

  .content-header {
    overflow: auto;

    padding: 15px;
    margin: {
      bottom: 15px;
    }

    background-color: $GRAY;

    .search-bar {
      float: left;
      position: relative;

      height: 30px;
      width: 220px;
      margin: {
        left: 15px;
      }

      $borderWidth: 1px;
      $searchBtnWidth: 40px;

      background-color: $WHITE;
      border: $CROWN $borderWidth solid;
      border-radius: 10px;



      input {
        float:left;

        width: 210 - $searchBtnWidth - 2 * $borderWidth;
        height: 30 - 2 * $borderWidth;
        margin: {
          left: 10px;
        }
      }

      .search-btn {
        @extend %btn;

        position: absolute;
        top: -1px;
        right: -1px;

        width: $searchBtnWidth;

        font-weight: bold;

        border-radius: 0 10px 10px 0;
      }
    }

    .add-btn {
      @extend %btn;

      width: 80px;
      margin-left: 30px;

      border-radius: 10px;

      &:before {
        margin: {
          right: 5px;
        }

        font-weight: bold;
      }
    }
  }

  .content-main {
    perspective: 800px;

    .tag-box-wrapper {
      position: relative;

      height: 90px;
      margin: {
        bottom: 15px;
      }

      transform-style: preserve-3d;
      transition: transform 1s;

      &.flipped {
        transform: rotateY(180deg);
      }

      .tag-box {
        position: absolute;
        top: 0;
        left: 0;

        height: 90px;
        width: 100%;

        border-radius: 5px;
        background-color: darken($GRAY, 5%);

        backface-visibility: hidden;

        .tag-box-icon, .image {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 3;

          width: 90px;
          height: 90px;

          background-color: $WHITE;
          border-radius: 5px;
        }

        .tag-box-title {
          display:block;
          overflow: hidden;

          height: 60px;
          margin: {
            left: 90px;
          }
          padding: 5px 10px;

          color: $BLACK;
        }

        .tag-box-control {
          display: block;

          width: 100%;
          height: 30px;
          padding: {
            right: 10px;
          }

          background-color: lighten($BLUE, 10%);
          border-radius: 0 0 5px 5px;

          a {
            float: right;
            display: block;

            width: 30px;
            height: 30px;

            line-height: 30px;
            text-align: center;

            cursor: pointer;

            &:hover {
              text-decoration: none;
            }

            &.edit-btn {
              color: $CROWN;
            }

            &.del-btn {
              color: $RED;
            }
          }
        }

        &.editing {
          z-index: 4;
          transform: rotateY(180deg);

          .tag-box-icon-wrapper {
            float:left;
            position: relative;

            width: 90px;
            height: 90px;

            .file {
              display: none;
            }

            .mask {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 4;

              width: 100%;
              height: 100%;

              border-radius: 5px;
              background-color: $BLACK;
              opacity: 0.5;

              i {
                display: block;
                width: 100%;
                height: 100%;

                text-align: center;
                color: $WHITE;
                font-weight: 900;
                font-size: 30px;
                line-height: 90px;
              }
            }
          }

          .editor-wraper {
            height: 60px;
            margin: {
              left: 90px;
            }

            textarea {
              width: 100%;
              height: 60px;
              padding: 4px 9px;

              color: $BLACK;

              border: 1px solid $BLUE;
              border-radius: 0 5px 0 0;

              resize: none;
            }
          }

          .tag-box-control {
            button {
              @extend %btn;

              float: right;

              height: 20px;
              width: 40px;
              margin: 5px 0 5px 10px;

              font-size: 12px;

              border-radius: 10px;

              &.cancel-btn {
                background-color: darken($GRAY, 20%);
              }
            }
          }
        }
      }
    }
  }
}