// message
.message-fade-enter {
  opacity: 0;
  transform: translateX(50px);
}

.message-fade-leave-to {
  opacity: 0;
}

.message-fade-enter-to, .message-fade-leave {
  opacity: 0.9;
}

.message-fade-enter-active, .message-fade-leave-active {
  transition: all 1s ease;
}

.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .5s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s
}

.fade-enter, .fade-leave-to {
  opacity: 0
}