@import 'reset';
@import 'mixin';
@import 'animate';
@import '../../font/iconfont.css';

$BLUE: #BCD5D1 !default;
$BLACK: #1D2120 !default;
$CROWN: #5A5C51 !default;
$WHITE: #FFFFFF !default;
$GRAY: #F7F7F7 !default;
$PINK: #FBE7E6 !default;
$RED: #FF0000 !default;

[v-cloak] {
  display: none;
}

%btn {
  color: $WHITE;
  font-family: "YimHei";
  background-color: $CROWN;
}

html {
  height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;

  min-height: 100%;
}

.navbar {
  z-index: 2;

  margin: {
    bottom: 0;
  }

  border: none;
  background-color: $BLACK;
  opacity: 0.9;

  li.dropdown {
    > a {
      background-color: $BLACK;
    }

    &.open > a, > a:hover {
      background-color: $CROWN;
    }
  }

  a {
    color: $WHITE;
  }
}

// 左侧导航菜单
.menu {
  position: absolute;
  top: 0;
  left:0;

  width: 200px;
  height: 100%;
  padding: {
    top: 70px;
  }

  background-color: $BLUE;

  ul {
    width: 100%;
    padding: {
      left: 0;
    }

    list-style: none;

    li {
      position: relative;

      margin: {
        bottom: 10px;
      }

      a {
        display: block;

        height: 40px;
        width: 100%;
        padding: {
          left: 40px;
        }

        font: 18px/40px 'YimHei';
        color: #FFFFFF;

        text-decoration: none;

        .iconfont {
          font-size: 18px;

          margin: {
            right: 30px;
          }
        }

        &:hover, &:visited {
          text-decoration: none;

          cursor: pointer;
        }

        &:hover, &.active {
          background-color: $CROWN;
        }

        .icon-more {
          display: block;
          position: absolute;
          right: 10px;
          top: 10px;
          z-index: 2;

          width: 20px;
          height: 20px;
          margin-right: 0;

          color: $WHITE;
          line-height: 20px;

          transform: rotate(90deg);
          transition: transform 0.5s;
        }

        &.collapsed .icon-more {
            transform:rotate(180deg);
            transition:transform 0.5s;
        }
      }

      &.seprator {
        text-align: center;
        color: #5A5C51;
        font-size: 15px;
      }

      ul {
        margin-top: 10px;

        li {
          a {
            padding-left: 60px;

            font-size: 15px;

            .iconfont {
              margin-right: 20px;

              font-size: 12px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.loading {
  position: absolute;
  top: 0;
  left: 50%;

  margin-top: 250px !important;
  transform: translate3d(-50%, 0, 0);
}

// message
.admin-message {
  position: absolute;
  top: 60px;
  right: 20px;

  height: 60px;
  min-width: 220px;
  padding: 10px 50px 10px 10px;

  border-radius: 10px;

  .admin-content {
    display: block;

    width: 100%;
    height: 40px;

    text-align: center;
    font: bold 14px/40px 'SimHei';
  }

  .icon-close {
    position: absolute;
    top: 19px;
    right: 14px;

    font-weight: bold;

    cursor: pointer;
  }

  &.error {
    background-color: darken($PINK, 10%);

    color: $WHITE;
  }
}