@mixin line($width, $height, $color: #FFFFFF) {
  display: block;

  width: $width;
  height: $height;
  margin: 0 auto;

  background-color: $color;
}

@mixin triangle($direction, $width: 25px, $color: #FFF) {
	display: block;
	width: 0;
	height: 0;

	@if $direction == up {
		border-left: $width / 2 solid transparent;
		border-right: $width / 2 solid transparent;
		border-bottom: $width /2 solid $color;
	} @else if $direction == right {
		border-top: $width / 2 solid transparent;
		border-bottom: $width/ 2 solid transparent;
		border-left: $width solid $color;
	} @else if $direction == down {
		border-left: $width / 2 solid transparent;
		border-right: $width/ 2 solid transparent;
		border-top: $width /2 solid $color;
	} @else {
		border-top: $width / 2 solid transparent;
		border-bottom: $width/ 2 solid transparent;
		border-right: $width / 2 solid $color;
	}
}