{% extends 'admin/base.html' %}
{% set active_page = 'about' %}
{% block title %}信息{% endblock %}
{% block head %}
    ${ super() }
    <link rel="stylesheet" href="${ url_for('static', filename='admin/about.css') }">
    <script src="${ url_for('static', filename='admin/about.js') }"></script>
{% endblock %}
{% block content %}
<div class="content-header">
    <input type="text" class="site-title" placeholder="标题" v-model="title">
    <input type="text" class="site-intro" placeholder="描述" v-model="intro">
    <button @click="saveAboutInfo">确定</button>
    <button class="cancel-btn" @click="cancelEdit">取消</button>
</div>
<div class="content-main">
    <lb-editor ref="editor" name="image" :upload-action="uploadAction" :upload-params="{type: 'article'}" :min-height="editorMinHeight"></lb-editor>
</div>
{% endblock %}