<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Light Blog</title>
    <link rel="stylesheet" href="${ url_for('static', filename='admin/index.css') }"/>
    <script src="${ url_for('static', filename='admin/common.js') }"></script>
    <script src="${ url_for('static', filename='admin/index.js') }"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-header">
                <a class="navbar-brand">Light Blog</a>
            </div>
        </nav>
    </header>
    <aside class="menu"></aside>
    <div class="content"></div>
    <footer></footer>
</body>
</html>