<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="${ url_for('static', filename='admin/login.css', _external=True) }"/>
    <script src="${ url_for('static', filename='admin/common.js', _external=True) }"></script>
    <script src="${ url_for('static', filename='admin/login.js', _external=True) }"></script>
</head>
<body>
<div id="login-panel" v-cloak>
    <h1>Welcome</h1>
    <span class="line"></span>
    <div class="form-group">
        <i class="iconfont icon-account"></i><input type="text" name="username" v-model="username.value" @focus="clearErrMsg($event)" placeholder="用户名"/>
        <transition name="slide-fade">
            <label class="err-msg" v-if="username.show_err">{{username.err_msg}}</label>
        </transition>
    </div>
    <div class="form-group">
        <i class="iconfont icon-password"></i><input type="password" name="password" v-model="password.value" @focus="clearErrMsg($event)" placeholder="密码"/>
        <transition name="slide-fade">
            <label class="err-msg" v-if="password.show_err">{{password.err_msg}}</label>
        </transition>
    </div>
    <div class="btn-wrapper">
        <label>记住我</label><lb-switch name="remember_me" on-text="是" off-text="否"></lb-switch><button type="submit" @click="login">Let's go!</button>
    </div>
    <span class="triangle"></span>
</div>
</body>
</html>