{% extends 'admin/base.html' %}
{% set active_page = 'password' %}
{% block title %}密码{% endblock %}
{% block head %}
    ${ super() }
    <link rel="stylesheet" href="${ url_for('static', filename='admin/password.css') }">
    <script src="${ url_for('static', filename='admin/password.js') }"></script>
{% endblock %}
{% block content %}
    <div class="password-form">
        <input type="password" class="password-item" placeholder="原密码" v-model="oldPassword">
        <input type="password" class="password-item" placeholder="新密码" v-model="newPassword">
        <input type="password" class="password-item" placeholder="确认密码" v-model="confirmPassword">
        <button @click="setPassword">确定</button>
    </div>
{% endblock %}