{% extends 'admin/base.html' %}
{% block title %}标签{% endblock %}
{% block head %}
    ${ super() }
    <link rel="stylesheet" href="${ url_for('static', filename='admin/tag.css') }">
    <script src="${ url_for('static', filename='admin/tag.js') }"></script>
{% endblock %}
{% block content %}
<div class="content-header">
    <div class="search-bar">
        <input type="text" v-model="name" /><button class="search-btn iconfont icon-search" @click="findTags"></button>
    </div>
    <button class="add-btn iconfont icon-add">&nbsp;新增</button>
</div>
<div class="content-main container-fluid" v-cloak>
    <div class="col-lg-3 col-xs-6" v-for="tag in tags">
        <div class="tag-box" :data-id="tag.id">
            <img class="tag-box-icon" :src="tag.logo" />
            <span class="tag-box-title">{{tag.name}}</span>
            <div class="tag-box-control">
                <a class="del-btn iconfont icon-delete"></a>
                <a class="edit-btn iconfont icon-edit"></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}