{% extends 'admin/base.html' %}
{% block title %}标签{% endblock %}
{% block head %}
    ${ super() }
    <link rel="stylesheet" href="${ url_for('static', filename='admin/tag.css') }">
    <script src="${ url_for('static', filename='admin/tag.js') }"></script>
{% endblock %}
{% block content %}
<div class="content-header">
    <div class="search-bar">
        <input type="text" v-model="name" /><button class="search-btn iconfont icon-search" @click="findTags"></button>
    </div>
    <button class="add-btn iconfont icon-add" @click="toAddTag">&nbsp;新增</button>
</div>
<transition-group class="content-main container-fluid" v-cloak name="fade" tag="div">
    <div class="col-lg-3 col-xs-6" v-for="(tag, index) in tags" :key="tag.key">
        <div class="tag-box-wrapper" :class="{flipped: isEditing(index)}">
            <div class="tag-box" :data-index="index">
                <img v-show="tag.logo" class="tag-box-icon" :src="tag.logo" />
                <span class="tag-box-title">{{tag.name}}</span>
                <div class="tag-box-control">
                    <a class="del-btn iconfont icon-delete"></a>
                    <a class="edit-btn iconfont icon-edit" @click="toEditTag(index)"></a>
                </div>
            </div>
            <transition :duration="1000">
            <div class="tag-box editing" v-if="isEditing(index)">
                <vue-img-uploader name="image" :img="editingTag.logo" :action="uploadAction" :params="{type: 'tag'}" @result="imageUploaded"></vue-img-uploader>
                <div class="editor-wraper"><textarea placeholder="标签名..." v-model="editingTag.name"></textarea></div>
                <div class="tag-box-control">
                    <button class="cancel-btn" @click="cancelEdit">取消</button>
                    <button class="confirm-btn" @click="comfirmEdit">确定</button>
                </div>
            </div>
            </transition>
        </div>
    </div>
</transition-group>
<vue-loader ref="loader"></vue-loader>
{% endblock %}