{% extends 'admin/base.html' %}
{% set active_page = 'publish' %}
{% block title %}${ title }{% endblock %}
{% block head %}
    ${ super() }
    <link rel="stylesheet" href="${ url_for('static', filename='admin/article_editor.css') }">
    <script src="${ url_for('static', filename='admin/article_editor.js') }"></script>
{% endblock %}
{% block content %}
<div class="content-header">
    <div class="title-wrapper">
        <input type="text" class="title" placeholder="标题..." v-model="article.title" />
    </div>
    <div class="btn-group">
        <button class="draft-btn iconfont icon-Drafts" @click="toDraft">草稿</button>
        <button class="publish-btn iconfont icon-publish" @click="toPublish">发布</button>
    </div>
</div>
<div class="content-main" data-id="${article_id}">
    <vue-editor ref="editor" :upload-action="uploadAction" :upload-params="{type: 'article'}" :min-height="editorMinHeight"></vue-editor>
    <transition name="fade-slide-up">
        <div class="article-info" v-if="showPublishBar">
            <vue-img-uploader name="image" :img="article.img" :action="uploadAction" :params="{type: 'tag'}" @result="imageUploaded"></vue-img-uploader>
            <div class="tags">
                <div class="tag" :class="{error: isErrorTag(index)}" v-for="(tag, index) in article.tags" @click="editTag(index)">
                    <span>{{tag.name}}</span>
                    <input type="text" v-if="isEditingTag(index)" v-focus="isEditingTag(index)" v-model="tag.name" @blur="saveTag(index)" />
                </div>
            </div>
            <div class="btn-group">
                <button class="ok-btn" @click="confirmPublish">确定</button>
                <button class="cancel-btn" @click="cancelPublish">取消</button>
            </div>
        </div>
    </transition>
</div>
{% endblock %}