{% extends 'admin/base.html' %}
{% set active_page = 'publish' %}
{% block title %}${ title }{% endblock %}
{% block head %}
    ${ super() }
    <link rel="stylesheet" href="${ url_for('static', filename='admin/article_editor.css') }">
    <script src="${ url_for('static', filename='admin/article_editor.js') }"></script>
{% endblock %}
{% block content %}
<div class="content-header">
    <div class="title-wrapper">
        <input type="text" class="title" placeholder="标题..." />
    </div>
    <div class="btn-group">
        <button class="draft-btn iconfont icon-Drafts">草稿</button>
        <button class="publish-btn iconfont icon-publish">发布</button>
    </div>
</div>
<div class="content-main">
    <vue-editor :upload-action="uploadAction" :upload-params="{type: 'article'}" :min-height="editorMinHeight"></vue-editor>
    <div class="article-info">
        <vue-img-uploader></vue-img-uploader>
        <div class="tags">
            <div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div>
            <div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div><div class="tag"><span>测试</span></div>
            <div class="tag error"><span>+</span><input type="text"/></div>
        </div>
        <div class="btn-group">
            <button class="ok-btn">确定</button>
            <button class="cancel-btn">取消</button>
        </div>
    </div>
</div>
{% endblock %}