{% extends 'admin/base.html' %}
{% set active_page = 'publish' %}
{% block title %}${ title }{% endblock %}
{% block head %}
    ${ super() }
    <link rel="stylesheet" href="${ url_for('static', filename='admin/article_editor.css') }">
    <script src="${ url_for('static', filename='admin/article_editor.js') }"></script>
{% endblock %}
{% block content %}
<div class="content-header">
    <div class="title-wrapper">
        <input type="text" class="title" placeholder="标题..." />
    </div>
    <div class="btn-group">
        <button class="draft-btn iconfont">草稿</button>
        <button class="publish-btn iconfont">发布</button>
    </div>
</div>
<div class="content-main">
    <vue-editor :min-height="editorMinHeight" ></vue-editor>
</div>
{% endblock %}