{% extends 'admin/base.html' %}
{% set active_page = 'article' %}
{% block title %}文章{% endblock %}
{% block head %}
    ${ super() }
    <link rel="stylesheet" href="${ url_for('static', filename='admin/article_list.css') }">
    <script src="${ url_for('static', filename='admin/article_list.js') }"></script>
{% endblock %}
{% block content %}
<div class="content-header">
    <input type="text" class="title" placeholder="标题..." v-model="title" />
    <input type="date" class="date" v-model="date" />
    <button class="search-btn iconfont icon-search" @click="findArticles">搜索</button>
</div>
<div class="content-main">
    <div class="articles">
        <transition-group class="articles-list" name="fade" tag="ul">
            <li class="article-wrap" v-for="article in articles" :key="article.id">
                <div class="article">
                    <div class="text-info">
                        <h1><em v-if="article.status == 1">草稿</em>{{article.title}}</h1>
                        <p>{{article.summary}}</p>
                    </div>
                    <img v-if="article.img" :src="article.img" />
                    <div class="ext-info">
                        <div class="stat">
                            <span class="read iconfont icon-view">{{article.views}}</span>
                        </div>
                        <span class="date">{{article.published_at}}</span>
                        <a class="edit-btn iconfont icon-edit" :href="'/admin/article/edit/' + article.id"></a>
                        <a class="del-btn iconfont icon-delete" @click="toDelTag(index)"></a></div>
                </div>
            </li>
        </transition-group>
        <lb-page class="pages" :pages="pages" @page-change="findArticles"></lb-page>
    </div>
</div>
{% endblock %}